services:
  reverse-proxy:
    image: traefik:v3.2
    container_name: reverse-proxy
    command:
      - --api.insecure=true
      - --api.dashboard=true
      - --accesslog=true
      - --accesslog.filepath=/var/log/traefik/access.log
      - --log.level=DEBUG
      - --providers.docker=true
      - --entrypoints.web.address=:80
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_logs:/var/log/traefik
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
    networks:
      - proxy-network
    restart: unless-stopped

  energy-people-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: energy-people-db
    networks:
      - proxy-network

  energy-device-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: energy-device-db
    networks:
      - proxy-network

  people-service:
    image: energy-management-deploy-example-people-service:latest
    build:
      context: ./people-service
      dockerfile: Dockerfile
    environment:
      DB_USER: postgres
      DB_PASSWORD: root
      DB_DBNAME: energy-people-db
      DB_IP: energy-people-db
      DB_PORT: 5432
      PORT: 8080
    depends_on:
      - energy-people-db
    networks:
      - proxy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.people.rule=PathPrefix(`/people`)
      - traefik.http.routers.people.entrypoints=web
      - traefik.http.services.people.loadbalancer.server.port=8080
      - traefik.http.routers.people.middlewares=auth-basic@file
    deploy:
      replicas: 2

  device-service:
    image: energy-management-deploy-example-device-service:latest
    build:
      context: ./device-service
      dockerfile: Dockerfile
    environment:
      DB_USER: postgres
      DB_PASSWORD: root
      DB_DBNAME: energy-device-db
      DB_IP: energy-device-db
      DB_PORT: 5432
      PORT: 8080
    depends_on:
      - energy-device-db
    networks:
      - proxy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.devices.rule=PathPrefix(`/devices`)
      - traefik.http.routers.devices.entrypoints=web
      - traefik.http.services.devices.loadbalancer.server.port=8080
      - traefik.http.routers.devices.middlewares=auth-basic@file
    deploy:
      replicas: 2

  nginx-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nginx-frontend
    networks:
      - proxy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.nginx-frontend.rule=Host(`localhost`)
      - traefik.http.routers.nginx-frontend.entrypoints=web
      - traefik.http.services.nginx-frontend.loadbalancer.server.port=80

networks:
  proxy-network:

volumes:
  traefik_logs:
