# entryPoints:
#   web:
#     address: ":80"

# providers:
#   file:
#     filename: /etc/traefik/dynamic/path.yml
#     watch: true
api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: DEBUG

accessLog:
  filePath: "/var/log/traefik/access.log"
