http:
  routers:
    # Frontend (static HTML)
    nginx-frontend:
      rule: "Host(`localhost`) && PathPrefix(`/`)"
      entryPoints:
        - web
      service: nginx-frontend
      priority: 1   # prioritate mai mică decât API-urile

    # People service - API
    backend-people:
      rule: "Host(`localhost`) && PathPrefix(`/people`)"
      entryPoints:
        - web
      middlewares:
        - auth-basic
      service: people-service
      priority: 20  # mai mare decât frontend

    # Device service - API
    backend-device:
      rule: "Host(`localhost`) && PathPrefix(`/devices`)"
      entryPoints:
        - web
      middlewares:
        - auth-basic
      service: device-service
      priority: 20  # la fel, peste frontend

  services:
    # Nginx frontend – numele corect în rețeaua Docker
    nginx-frontend:
      loadBalancer:
        servers:
          - url: "http://nginx-frontend:80"
        passHostHeader: true

    # People service backend
    people-service:
      loadBalancer:
        servers:
          - url: "http://people-service:8080"

    # Device service backend
    device-service:
      loadBalancer:
        servers:
          - url: "http://device-service:8080"

  middlewares:
    # Basic auth pt. /people și /devices
    auth-basic:
      basicAuth:
        users:
          - "antonio:$2y$05$7CPPtiu9zKraabRIGgiMFuREtd8qp9FcocfSPQe9RS.mtwnz2/2Ji"
